body {
	background-color: black;
	color: white;
	font-size: 100%;
	font-family: 'Lucida Console';
	margin: 0;
	min-width: 320px;
}

header {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

header a {
	display: block;
	width: 100%;
	padding: 0.5em 0;
	color: white;
	text-decoration: none;
}

header a:link, header a:visited {
	color: white;
}

.content {
	background-color: white;
	color: black;
	font-family: Arial, serif;
	padding: 1em;
	margin: 0 1em;
}

footer {
	font-size: 0.8em;
	margin: 1.4em;
}

footer a:link, footer a:visited {
	color: white;	
}

.credits {
	float: right;
}

h1 {
	margin-top: 0;
}

.right {
	float: right;
}

.error {
	color: red;
}

table th, td {
	border: 1px solid black;
	padding: 0.3em;
}