svg {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
	
	display: block;
    margin: 0 auto;
}

.galaxyVoid {
	background-color: #151515;
	padding: 1em;
}

svg.galaxy { 
	background-color: black;
}

svg > *, svg.galaxy text { pointer-events: none; }

svg polygon, svg g { pointer-events: visiblepainted; }

svg.galaxy polygon { stroke: white; stroke-width: 1; }

svg polygon.space { fill: black; }
svg polygon.asteroids { fill: url(http://jsfiddle.net/v5VDp/1/#texture1) sienna; }
svg polygon.volatile.nebula { fill: darkGreen; }
svg polygon.shrouding.nebula { fill: tan; }
svg polygon.resonating.nebula { fill: skyBlue; }
svg polygon.ionic.nebula { fill: crimson; }
svg polygon.rifts { fill: darkblue; }
svg polygon.gravity.well { fill: dimGray; }
svg polygon.cluster { fill: goldenRod; }

svg .star { fill: darkOrange; }


svg.galaxy text { 
	text-anchor: middle; 
	dominant-baseline: middle;
	fill: white;
}

svg.galaxy g.sector:hover polygon, svg.galaxy g.sector:hover circle { opacity: 0.7; }
svg.galaxy g.sector:hover polygon.space { fill: #555; }
svg.galaxy g.sector:hover text { font-weight: bold; }

/* Interactive */

svg.galaxy.interaction {
	height: 70vh;
	width: 90%;
}

.galaxyVoid:-webkit-full-screen {
	height: 100%;
	width: 100%;
}

.galaxyVoid:fullscreen svg.galaxy.interaction {
	height: 86vh;
}

.galaxyVoid:-moz-full-screen svg.galaxy.interaction {
	height: 86vh;
}

.galaxyVoid:-webkit-full-screen svg.galaxy.interaction {
	height: 86vh;
}

.galaxyVoid:-ms-fullscreen svg.galaxy.interaction {
	height: 86vh;
}

/* Editor */

.legendContainer {
	background-color: black;
	color: white;
	text-align: center;
}

.legendContainer .legendItem {
	display: inline-block;
	border: 1px solid black;
	padding: 1em 1em 0;
}

.legendContainer .description {
	padding: 0.5em 0;
}

svg.galaxy.paint polygon.selected, svg.galaxy.paint circle.selected {
	stroke: goldenrod;
	stroke-width: 6;
}

.paintBar {
	position: fixed;
	left: 0;
	bottom: 2em;
	overflow: auto;
	width: 100%;
	transition: left 1s ease-in-out;
}

.paintBarOpener {
	background-color: transparent;
	position: fixed;
	width: 3em;
	height: 3em;
	border: 0;
	left: 0;
	bottom: 2em;
	padding: 0;
	cursor: pointer;
	display: block;
	transition: 2s;
}

.paintBarOpener:after {
	content: "";
	display: block;
	width: 0; 
	height: 0;
	transition: 2s;
	
	border-top: 3em solid transparent;
	border-bottom: 0em solid transparent;
	border-left: 3em solid lightgray;
}

.paintBarOpener.closed {
	height: 4em;
	width: 2em;
	bottom: 0em;
}

.paintBarOpener.closed:after {
	border-top: 2em solid transparent;
	border-bottom: 2em solid transparent;
	border-left: 2em solid lightgray;
}

.paintBar.closed {
	left: -100%;
}