svg {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
	
	display: block;
    margin: 0 auto;
}

svg.galaxy { 
	background-color: black;
	padding: 1em;
}

svg > *, svg.galaxy text { pointer-events: none; }

svg.galaxy polygon, svg.galaxy g { pointer-events: visiblepainted; }

svg.galaxy polygon { stroke: white; stroke-width: 1; }

svg.galaxy polygon.space { fill: black; }
svg.galaxy polygon.asteroids { fill: sienna; }
svg.galaxy polygon.volatile.nebula { fill: darkGreen; }
svg.galaxy polygon.shrouding.nebula { fill: tan; }
svg.galaxy polygon.resonating.nebula { fill: skyBlue; }
svg.galaxy polygon.ionic.nebula { fill: crimson; }
svg.galaxy polygon.rifts { fill: darkblue; }
svg.galaxy polygon.gravity.well { fill: dimGray; }

svg.galaxy circle { fill: DarkOrange; }


svg.galaxy text { 
	text-anchor: middle; 
	dominant-baseline: middle;
	fill: white; 
	font-size: 0.9em }

svg.galaxy g:hover polygon, svg.galaxy g:hover circle { opacity: 0.4; }
svg.galaxy g:hover text { fill: black; font-weight: bold; }

/* Editor */

svg.galaxy.legend { background-color: white; }

svg.galaxy.legend text {
	fill: black;
}

svg.galaxy.paint polygon.selected, svg.galaxy.paint circle.selected {
	stroke: goldenrod;
	stroke-width: 6;
}